-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "ProductionOpType" AS ENUM ('PRODUCTION', 'WRITEOFF', 'ADJUSTMENT');

-- CreateEnum
CREATE TYPE "SupplierLedgerSourceType" AS ENUM ('PURCHASE', 'SUPPLIER_RETURN', 'SUPPLIER_PAYMENT', 'OPENING_BALANCE');

-- CreateEnum
CREATE TYPE "SupplierPaymentMethod" AS ENUM ('CASH', 'BANK', 'CARD', 'OTHER');

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'USER',
    "telegramId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "authVersion" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "District" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "District_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Manager" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,

    CONSTRAINT "Manager_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "altName" TEXT,
    "priceListName" TEXT,
    "category" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "coefficient" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "lossNorm" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "participatesInProduction" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Customer" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "legalName" TEXT,
    "inn" VARCHAR(9),
    "telegramGroupName" TEXT,
    "telegramGroupUsername" TEXT,
    "telegramChatId" BIGINT,
    "telegramChatType" TEXT,
    "telegramIsEnabled" BOOLEAN NOT NULL DEFAULT true,
    "telegramBoundAt" TIMESTAMP(3),
    "telegramBoundByUserId" INTEGER,
    "districtId" TEXT,
    "managerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Customer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerCard" (
    "id" SERIAL NOT NULL,
    "customerId" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerCard_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerCardItem" (
    "id" SERIAL NOT NULL,
    "cardId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "description" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerCardItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerCardItemPhoto" (
    "id" SERIAL NOT NULL,
    "itemId" INTEGER NOT NULL,
    "url" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CustomerCardItemPhoto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerProduct" (
    "id" SERIAL NOT NULL,
    "customerId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerProduct_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Supplier" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "legalName" TEXT,
    "altName" TEXT,
    "phone" TEXT,
    "telegram" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "primaryMmlId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Supplier_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplierProduct" (
    "supplierId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,

    CONSTRAINT "SupplierProduct_pkey" PRIMARY KEY ("supplierId","productId")
);

-- CreateTable
CREATE TABLE "Order" (
    "id" SERIAL NOT NULL,
    "idn" TEXT,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL DEFAULT 'NEW',
    "paymentType" TEXT,
    "customerId" INTEGER NOT NULL,
    "expeditorId" INTEGER,
    "totalAmount" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "totalWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "isDisabled" BOOLEAN NOT NULL DEFAULT false,
    "dispatchDay" DATE,
    "assemblyStartedAt" TIMESTAMP(3),
    "assemblyConfirmedAt" TIMESTAMP(3),
    "loadedAt" TIMESTAMP(3),
    "shippedAt" TIMESTAMP(3),
    "assemblyStartedBy" TEXT,
    "assemblyConfirmedBy" TEXT,
    "loadedBy" TEXT,
    "shippedBy" TEXT,
    "deliveryAddress" TEXT,
    "assignedAt" TIMESTAMP(3),
    "deliveryStatus" TEXT NOT NULL DEFAULT 'pending',
    "completedAt" TIMESTAMP(3),
    "signatureUrl" TEXT,
    "signedInvoiceUrl" TEXT,
    "returnTotalQty" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "returnTotalSum" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "netTotalSum" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "isEdited" BOOLEAN NOT NULL DEFAULT false,
    "editedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "draftId" INTEGER,

    CONSTRAINT "Order_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderAttachment" (
    "id" SERIAL NOT NULL,
    "orderId" INTEGER NOT NULL,
    "type" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "mimeType" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OrderAttachment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderItem" (
    "id" SERIAL NOT NULL,
    "orderId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "quantity" DOUBLE PRECISION NOT NULL,
    "price" DECIMAL(65,30) NOT NULL,
    "amount" DECIMAL(65,30) NOT NULL,
    "shippedQty" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "qtyReturn" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "distributionCoef" DOUBLE PRECISION DEFAULT 0.0,
    "sumWithRevaluation" DECIMAL(65,30) DEFAULT 0.0,
    "weightToDistribute" DOUBLE PRECISION DEFAULT 0.0,

    CONSTRAINT "OrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderReturn" (
    "id" SERIAL NOT NULL,
    "orderId" INTEGER NOT NULL,
    "expeditionId" INTEGER NOT NULL,
    "createdBy" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'saved',
    "totalQty" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalSum" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrderReturn_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderReturnItem" (
    "id" SERIAL NOT NULL,
    "returnId" INTEGER NOT NULL,
    "orderItemId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "qtyShip" DOUBLE PRECISION NOT NULL,
    "qtyReturn" DOUBLE PRECISION NOT NULL,
    "price" DECIMAL(65,30) NOT NULL,
    "sumShip" DECIMAL(65,30) NOT NULL,
    "sumNet" DECIMAL(65,30) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OrderReturnItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReturnAuditLog" (
    "id" SERIAL NOT NULL,
    "orderId" INTEGER NOT NULL,
    "returnId" INTEGER,
    "expeditionId" INTEGER NOT NULL,
    "action" TEXT NOT NULL,
    "performedBy" TEXT NOT NULL,
    "totalQty" DOUBLE PRECISION NOT NULL,
    "totalSum" DECIMAL(65,30) NOT NULL,
    "details" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReturnAuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Expeditor" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "userId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Expeditor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Stock" (
    "productId" INTEGER NOT NULL,
    "quantity" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Stock_pkey" PRIMARY KEY ("productId")
);

-- CreateTable
CREATE TABLE "StockTransaction" (
    "id" SERIAL NOT NULL,
    "productId" INTEGER NOT NULL,
    "type" TEXT NOT NULL,
    "quantity" DOUBLE PRECISION NOT NULL,
    "orderId" INTEGER,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StockTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SummaryOrderJournal" (
    "id" SERIAL NOT NULL,
    "idn" TEXT NOT NULL,
    "shipDate" TIMESTAMP(3) NOT NULL,
    "paymentType" TEXT DEFAULT 'bank',
    "customerId" INTEGER,
    "customerName" TEXT NOT NULL,
    "productId" INTEGER,
    "productCode" TEXT,
    "productFullName" TEXT NOT NULL,
    "category" TEXT,
    "shortNameMorning" TEXT,
    "priceType" TEXT,
    "price" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "shippedQty" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "orderQty" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "sumWithRevaluation" DECIMAL(65,30) DEFAULT 0.0,
    "distributionCoef" DOUBLE PRECISION DEFAULT 0.0,
    "weightToDistribute" DOUBLE PRECISION DEFAULT 0.0,
    "managerId" TEXT,
    "managerName" TEXT,
    "district" TEXT,
    "pointAddress" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "preAssemblyStatus" TEXT,
    "assemblyStartedAt" TIMESTAMP(3),
    "assemblyStartedBy" TEXT,
    "assemblyReturnedAt" TIMESTAMP(3),
    "assemblyReturnedBy" TEXT,
    "assemblyReturnReason" TEXT,
    "assemblyReturnComment" TEXT,
    "confirmedBy" TEXT,
    "confirmedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "orderItemId" INTEGER,

    CONSTRAINT "SummaryOrderJournal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SummaryOrderEvent" (
    "id" SERIAL NOT NULL,
    "summaryOrderId" INTEGER NOT NULL,
    "eventType" TEXT NOT NULL,
    "fromStatus" TEXT,
    "toStatus" TEXT,
    "reason" TEXT,
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT NOT NULL,
    "payload" JSONB,

    CONSTRAINT "SummaryOrderEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SummaryOrdersJournal" (
    "id" SERIAL NOT NULL,
    "summaryDate" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT NOT NULL,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "data" JSONB NOT NULL,

    CONSTRAINT "SummaryOrdersJournal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssemblyOrdersJournal" (
    "id" SERIAL NOT NULL,
    "assemblyDate" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT NOT NULL,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "sourceSummaryId" INTEGER,
    "data" JSONB NOT NULL,

    CONSTRAINT "AssemblyOrdersJournal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExpeditionJournal" (
    "id" SERIAL NOT NULL,
    "expeditorId" INTEGER NOT NULL,
    "expeditorName" TEXT NOT NULL,
    "dateFrom" TIMESTAMP(3) NOT NULL,
    "dateTo" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'open',
    "ordersCount" INTEGER NOT NULL DEFAULT 0,
    "totalWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "totalAmount" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "data" JSONB NOT NULL,

    CONSTRAINT "ExpeditionJournal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DistributionJournal" (
    "id" SERIAL NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "ordersCount" INTEGER NOT NULL DEFAULT 0,
    "totalWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "totalAmount" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "data" JSONB NOT NULL,

    CONSTRAINT "DistributionJournal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionStaff" (
    "id" SERIAL NOT NULL,
    "fullName" TEXT NOT NULL,
    "phone" TEXT,
    "userId" INTEGER NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionStaff_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionJournal" (
    "id" SERIAL NOT NULL,
    "productionDate" TIMESTAMP(3) NOT NULL,
    "staffId" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "ProductionJournal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionItem" (
    "id" SERIAL NOT NULL,
    "journalId" INTEGER NOT NULL,
    "productId" INTEGER,
    "productName" TEXT,
    "state" TEXT NOT NULL DEFAULT 'editing',
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "ProductionItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionItemValue" (
    "id" SERIAL NOT NULL,
    "productionItemId" INTEGER NOT NULL,
    "fieldKey" TEXT NOT NULL,
    "fieldValue" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "ProductionItemValue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PurchasePriceList" (
    "id" SERIAL NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "name" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "PurchasePriceList_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PurchasePriceListSupplier" (
    "id" SERIAL NOT NULL,
    "priceListId" INTEGER NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "primaryMmlId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PurchasePriceListSupplier_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PurchasePriceItem" (
    "id" SERIAL NOT NULL,
    "priceListId" INTEGER NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "purchasePrice" DECIMAL(14,2) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PurchasePriceItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalesPriceList" (
    "id" SERIAL NOT NULL,
    "listType" TEXT NOT NULL,
    "customerId" INTEGER,
    "title" TEXT,
    "effectiveDate" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "isCurrent" BOOLEAN NOT NULL DEFAULT false,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "SalesPriceList_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalesPriceItem" (
    "id" SERIAL NOT NULL,
    "priceListId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "salePrice" DECIMAL(14,2) NOT NULL,
    "rowDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "SalesPriceItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionMml" (
    "id" SERIAL NOT NULL,
    "productId" INTEGER NOT NULL,
    "createdBy" INTEGER NOT NULL,
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionMml_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionMmlNode" (
    "id" SERIAL NOT NULL,
    "mmlId" INTEGER NOT NULL,
    "parentNodeId" INTEGER,
    "productId" INTEGER NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionMmlNode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionRun" (
    "id" SERIAL NOT NULL,
    "productId" INTEGER NOT NULL,
    "mmlId" INTEGER NOT NULL,
    "userId" INTEGER NOT NULL,
    "productionDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "plannedWeight" DECIMAL(14,3),
    "actualWeight" DECIMAL(14,3),
    "status" TEXT NOT NULL DEFAULT 'draft',
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "needsReview" BOOLEAN NOT NULL DEFAULT false,
    "sourceType" TEXT NOT NULL DEFAULT 'MANUAL',
    "sourcePurchaseItemId" INTEGER,
    "sourceOpeningBalanceQty" DECIMAL(14,3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionRunValue" (
    "id" SERIAL NOT NULL,
    "productionRunId" INTEGER NOT NULL,
    "mmlNodeId" INTEGER NOT NULL,
    "snapshotProductId" INTEGER,
    "value" DECIMAL(14,3),
    "staffId" INTEGER,
    "recordedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "operationAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "opType" "ProductionOpType" NOT NULL DEFAULT 'PRODUCTION',
    "reasonText" TEXT,
    "photoUrl" TEXT,
    "photoMeta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionRunValue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionAllocation" (
    "id" SERIAL NOT NULL,
    "sourceType" TEXT NOT NULL,
    "sourceId" INTEGER NOT NULL,
    "opType" "ProductionOpType",
    "purchaseItemId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "qtyAllocated" DECIMAL(14,3) NOT NULL,
    "allocatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isVoided" BOOLEAN NOT NULL DEFAULT false,
    "voidedAt" TIMESTAMP(3),
    "voidReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionAllocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionAdjustment" (
    "id" SERIAL NOT NULL,
    "productId" INTEGER NOT NULL,
    "adjustmentDate" TIMESTAMP(3) NOT NULL,
    "effectiveDate" TIMESTAMP(3) NOT NULL,
    "deltaWeight" DECIMAL(14,3) NOT NULL,
    "reason" TEXT,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "createdBy" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "voidedAt" TIMESTAMP(3),
    "voidedBy" INTEGER,
    "voidReason" TEXT,

    CONSTRAINT "ProductionAdjustment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentType" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "isDisabled" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PaymentType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Purchase" (
    "id" SERIAL NOT NULL,
    "idn" TEXT,
    "purchaseDate" TIMESTAMP(3) NOT NULL,
    "totalAmount" DECIMAL(14,2),
    "createdByUserId" INTEGER,
    "isDisabled" BOOLEAN NOT NULL DEFAULT false,
    "isSystem" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Purchase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PurchaseSupplier" (
    "id" SERIAL NOT NULL,
    "purchaseId" INTEGER NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PurchaseSupplier_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PurchaseItem" (
    "id" SERIAL NOT NULL,
    "purchaseId" INTEGER NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "price" DECIMAL(14,2) NOT NULL,
    "qty" DECIMAL(14,3) NOT NULL,
    "qtyRemaining" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "amount" DECIMAL(14,2) NOT NULL,
    "paymentTypeId" INTEGER,
    "isSystem" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PurchaseItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TelegramBindRequest" (
    "id" SERIAL NOT NULL,
    "customerId" INTEGER NOT NULL,
    "code" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdByUserId" INTEGER,
    "usedAt" TIMESTAMP(3),
    "usedByChatId" BIGINT,

    CONSTRAINT "TelegramBindRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TelegramInbox" (
    "id" SERIAL NOT NULL,
    "chatId" BIGINT NOT NULL,
    "messageId" INTEGER NOT NULL,
    "messageDate" TIMESTAMP(3),
    "fromUserId" BIGINT,
    "text" TEXT,
    "raw" JSONB NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'NEW',
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "processedAt" TIMESTAMP(3),

    CONSTRAINT "TelegramInbox_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderDraft" (
    "id" SERIAL NOT NULL,
    "customerId" INTEGER NOT NULL,
    "sourceChatId" BIGINT,
    "status" TEXT NOT NULL DEFAULT 'NEW',
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdByUserId" INTEGER,
    "confirmedByUserId" INTEGER,
    "confirmedByChatId" BIGINT,
    "managerDecisionNote" TEXT,
    "rejectedAt" TIMESTAMP(3),
    "rejectedByUserId" INTEGER,
    "acceptedAt" TIMESTAMP(3),
    "acceptedByUserId" INTEGER,

    CONSTRAINT "OrderDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderDraftItem" (
    "id" SERIAL NOT NULL,
    "draftId" INTEGER NOT NULL,
    "productId" INTEGER,
    "rawText" TEXT NOT NULL,
    "title" TEXT,
    "quantity" DOUBLE PRECISION,
    "unit" TEXT,

    CONSTRAINT "OrderDraftItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderDraftMessage" (
    "id" SERIAL NOT NULL,
    "draftId" INTEGER NOT NULL,
    "inboxId" INTEGER NOT NULL,
    "kind" TEXT,

    CONSTRAINT "OrderDraftMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TelegramOutbox" (
    "id" SERIAL NOT NULL,
    "customerId" INTEGER,
    "chatId" BIGINT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'QUEUED',
    "text" TEXT,
    "documentType" TEXT,
    "documentParams" JSONB,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "maxAttempts" INTEGER NOT NULL DEFAULT 5,
    "nextAttemptAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastError" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "sentAt" TIMESTAMP(3),

    CONSTRAINT "TelegramOutbox_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerSalesManager" (
    "id" SERIAL NOT NULL,
    "customerId" INTEGER NOT NULL,
    "userId" INTEGER NOT NULL,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "assignedByUserId" INTEGER,
    "unassignedAt" TIMESTAMP(3),
    "unassignedByUserId" INTEGER,

    CONSTRAINT "CustomerSalesManager_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerMoneyRefund" (
    "id" SERIAL NOT NULL,
    "customerId" INTEGER NOT NULL,
    "refundDate" TIMESTAMP(3) NOT NULL,
    "amount" DECIMAL(14,2) NOT NULL,
    "paymentTypeId" INTEGER,
    "reference" TEXT,
    "comment" TEXT,
    "proofUrl" TEXT,
    "createdByUserId" INTEGER,
    "updatedByUserId" INTEGER,
    "deletedAt" TIMESTAMP(3),
    "deletedByUserId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerMoneyRefund_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Warehouse" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "phone" TEXT,
    "responsibleUserId" INTEGER,
    "comment" TEXT,
    "isDisabled" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Warehouse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SvodHeader" (
    "id" SERIAL NOT NULL,
    "svodDate" DATE NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "SvodHeader_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SvodLine" (
    "id" SERIAL NOT NULL,
    "svodId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "shortName" TEXT,
    "category" TEXT,
    "coefficient" DECIMAL(10,4),
    "orderQty" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "productionInQty" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "openingStock" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "openingStockIsManual" BOOLEAN NOT NULL DEFAULT false,
    "afterPurchaseStock" DECIMAL(14,3),
    "afterShipmentStock" DECIMAL(14,3),
    "qtyToShip" DECIMAL(14,3),
    "factMinusWaste" DECIMAL(14,3),
    "weightToShip" DECIMAL(14,3),
    "planFactDiff" DECIMAL(14,3),
    "underOver" DECIMAL(14,3),
    "isDistributionSource" BOOLEAN NOT NULL DEFAULT false,
    "distributedFromLineId" INTEGER,
    "distributedFromName" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SvodLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SvodSupplierCol" (
    "id" SERIAL NOT NULL,
    "svodId" INTEGER NOT NULL,
    "colIndex" INTEGER NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "supplierName" TEXT NOT NULL,
    "totalPurchase" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SvodSupplierCol_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SvodSupplierValue" (
    "id" SERIAL NOT NULL,
    "svodId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "purchaseQty" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SvodSupplierValue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SvodShipmentDistribution" (
    "id" SERIAL NOT NULL,
    "svodLineId" INTEGER NOT NULL,
    "mmlNodeId" INTEGER NOT NULL,
    "distributedQty" DECIMAL(14,3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SvodShipmentDistribution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionDoc" (
    "id" SERIAL NOT NULL,
    "date" DATE NOT NULL,
    "warehouseId" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "createdByUserId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionDoc_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionInput" (
    "id" SERIAL NOT NULL,
    "productionDocId" INTEGER NOT NULL,
    "purchaseId" INTEGER NOT NULL,
    "purchaseItemId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "warehouseId" INTEGER NOT NULL,
    "qtyIn" DECIMAL(14,3) NOT NULL,
    "qtyUsed" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "priceIn" DECIMAL(14,2),
    "loadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "loadedByUserId" INTEGER NOT NULL,

    CONSTRAINT "ProductionInput_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionOutput" (
    "id" SERIAL NOT NULL,
    "productionDocId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "qtyOut" DECIMAL(14,3) NOT NULL,
    "uom" TEXT NOT NULL DEFAULT 'kg',
    "costTotal" DECIMAL(14,2),
    "costPerUnit" DECIMAL(14,4),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionOutput_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionCuttingLine" (
    "id" SERIAL NOT NULL,
    "productionDocId" INTEGER NOT NULL,
    "productionInputId" INTEGER NOT NULL,
    "mmlId" INTEGER NOT NULL,
    "outProductId" INTEGER NOT NULL,
    "qtyOut" DECIMAL(14,3) NOT NULL,
    "qtyInConsumed" DECIMAL(14,3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdByUserId" INTEGER NOT NULL,

    CONSTRAINT "ProductionCuttingLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaterialReport" (
    "id" SERIAL NOT NULL,
    "reportDate" DATE NOT NULL,
    "warehouseId" INTEGER,
    "sourceType" TEXT,
    "sourceId" INTEGER,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "MaterialReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaterialReportLine" (
    "id" SERIAL NOT NULL,
    "materialReportId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "productCode" TEXT,
    "productName" TEXT,
    "openingBalance" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "inPurchase" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "inProduction" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outSale" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outWaste" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outBundle" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outDefectWriteoff" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outProductionWriteoff" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outWeightLoss" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outSupplierReturn" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "closingBalanceCalc" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "closingBalanceFact" DECIMAL(14,3),
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MaterialReportLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaterialReportDraft" (
    "id" SERIAL NOT NULL,
    "reportDate" DATE NOT NULL,
    "warehouseId" INTEGER,
    "svodHeaderId" INTEGER,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "MaterialReportDraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaterialReportDraftLine" (
    "id" SERIAL NOT NULL,
    "draftId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "openingBalance" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "inPurchase" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "inProduction" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outSale" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outWaste" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outBundle" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outDefectWriteoff" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outProductionWriteoff" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outWeightLoss" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "outSupplierReturn" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "closingBalanceCalc" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "closingBalanceFact" DECIMAL(14,3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MaterialReportDraftLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionLotClosure" (
    "id" SERIAL NOT NULL,
    "purchaseItemId" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'open',
    "qtyPurchased" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "qtyProduced" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "qtyRemaining" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "closedAt" TIMESTAMP(3),
    "closedBy" TEXT,
    "reopenedAt" TIMESTAMP(3),
    "reopenedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionLotClosure_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionClosure" (
    "id" SERIAL NOT NULL,
    "productionDate" DATE NOT NULL,
    "productId" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'open',
    "totalIn" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "totalProduced" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "diffAbs" DECIMAL(14,3) NOT NULL DEFAULT 0,
    "closedAt" TIMESTAMP(3),
    "closedBy" TEXT,
    "reopenedAt" TIMESTAMP(3),
    "reopenedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductionClosure_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionClosureAudit" (
    "id" SERIAL NOT NULL,
    "scope" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "productionDate" DATE,
    "productId" INTEGER,
    "purchaseItemId" INTEGER,
    "performedBy" TEXT NOT NULL,
    "payload" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProductionClosureAudit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Role" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isSystem" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Permission" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserRole" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "roleId" INTEGER NOT NULL,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserRole_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RolePermission" (
    "id" SERIAL NOT NULL,
    "roleId" INTEGER NOT NULL,
    "permissionId" INTEGER NOT NULL,

    CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplierLedger" (
    "id" SERIAL NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "sourceType" "SupplierLedgerSourceType" NOT NULL,
    "sourceId" INTEGER NOT NULL,
    "sourceLineId" INTEGER NOT NULL DEFAULT 0,
    "operationName" TEXT NOT NULL,
    "opDate" TIMESTAMP(3) NOT NULL,
    "debit" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "credit" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SupplierLedger_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplierReturn" (
    "id" SERIAL NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "returnDate" TIMESTAMP(3) NOT NULL,
    "totalAmount" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "isDisabled" BOOLEAN NOT NULL DEFAULT false,
    "createdByUserId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SupplierReturn_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplierReturnItem" (
    "id" SERIAL NOT NULL,
    "returnId" INTEGER NOT NULL,
    "productId" INTEGER NOT NULL,
    "price" DECIMAL(14,2) NOT NULL,
    "qty" DECIMAL(14,3) NOT NULL,
    "amount" DECIMAL(14,2) NOT NULL,

    CONSTRAINT "SupplierReturnItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupplierPayment" (
    "id" SERIAL NOT NULL,
    "supplierId" INTEGER NOT NULL,
    "paymentDate" TIMESTAMP(3) NOT NULL,
    "amount" DECIMAL(14,2) NOT NULL,
    "method" "SupplierPaymentMethod" NOT NULL DEFAULT 'CASH',
    "reference" TEXT,
    "comment" TEXT,
    "createdByUserId" INTEGER,
    "deletedAt" TIMESTAMP(3),
    "deletedByUserId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SupplierPayment_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "User_telegramId_key" ON "User"("telegramId");

-- CreateIndex
CREATE UNIQUE INDEX "District_code_key" ON "District"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Manager_code_key" ON "Manager"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Product_code_key" ON "Product"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Customer_code_key" ON "Customer"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Customer_telegramChatId_key" ON "Customer"("telegramChatId");

-- CreateIndex
CREATE INDEX "CustomerCard_customerId_idx" ON "CustomerCard"("customerId");

-- CreateIndex
CREATE INDEX "CustomerCardItem_cardId_idx" ON "CustomerCardItem"("cardId");

-- CreateIndex
CREATE INDEX "CustomerCardItem_productId_idx" ON "CustomerCardItem"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "CustomerCardItem_cardId_productId_key" ON "CustomerCardItem"("cardId", "productId");

-- CreateIndex
CREATE INDEX "CustomerCardItemPhoto_itemId_idx" ON "CustomerCardItemPhoto"("itemId");

-- CreateIndex
CREATE INDEX "CustomerProduct_customerId_idx" ON "CustomerProduct"("customerId");

-- CreateIndex
CREATE INDEX "CustomerProduct_productId_idx" ON "CustomerProduct"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "CustomerProduct_customerId_productId_key" ON "CustomerProduct"("customerId", "productId");

-- CreateIndex
CREATE UNIQUE INDEX "Supplier_code_key" ON "Supplier"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Order_draftId_key" ON "Order"("draftId");

-- CreateIndex
CREATE INDEX "Order_date_idx" ON "Order"("date");

-- CreateIndex
CREATE INDEX "Order_isDisabled_idx" ON "Order"("isDisabled");

-- CreateIndex
CREATE INDEX "Order_isDisabled_date_idx" ON "Order"("isDisabled", "date");

-- CreateIndex
CREATE INDEX "Order_dispatchDay_idx" ON "Order"("dispatchDay");

-- CreateIndex
CREATE INDEX "Order_status_dispatchDay_idx" ON "Order"("status", "dispatchDay");

-- CreateIndex
CREATE INDEX "OrderReturn_orderId_idx" ON "OrderReturn"("orderId");

-- CreateIndex
CREATE INDEX "OrderReturn_expeditionId_idx" ON "OrderReturn"("expeditionId");

-- CreateIndex
CREATE UNIQUE INDEX "OrderReturn_orderId_expeditionId_key" ON "OrderReturn"("orderId", "expeditionId");

-- CreateIndex
CREATE INDEX "OrderReturnItem_returnId_idx" ON "OrderReturnItem"("returnId");

-- CreateIndex
CREATE INDEX "OrderReturnItem_orderItemId_idx" ON "OrderReturnItem"("orderItemId");

-- CreateIndex
CREATE INDEX "ReturnAuditLog_orderId_idx" ON "ReturnAuditLog"("orderId");

-- CreateIndex
CREATE INDEX "ReturnAuditLog_expeditionId_idx" ON "ReturnAuditLog"("expeditionId");

-- CreateIndex
CREATE INDEX "ReturnAuditLog_action_idx" ON "ReturnAuditLog"("action");

-- CreateIndex
CREATE INDEX "ReturnAuditLog_createdAt_idx" ON "ReturnAuditLog"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Expeditor_userId_key" ON "Expeditor"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "SummaryOrderJournal_orderItemId_key" ON "SummaryOrderJournal"("orderItemId");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_shipDate_idx" ON "SummaryOrderJournal"("shipDate");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_customerId_idx" ON "SummaryOrderJournal"("customerId");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_category_idx" ON "SummaryOrderJournal"("category");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_district_idx" ON "SummaryOrderJournal"("district");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_managerId_idx" ON "SummaryOrderJournal"("managerId");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_status_idx" ON "SummaryOrderJournal"("status");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_createdAt_idx" ON "SummaryOrderJournal"("createdAt");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_shipDate_status_idx" ON "SummaryOrderJournal"("shipDate", "status");

-- CreateIndex
CREATE INDEX "SummaryOrderJournal_status_createdAt_idx" ON "SummaryOrderJournal"("status", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "SummaryOrderEvent_summaryOrderId_idx" ON "SummaryOrderEvent"("summaryOrderId");

-- CreateIndex
CREATE INDEX "SummaryOrderEvent_eventType_idx" ON "SummaryOrderEvent"("eventType");

-- CreateIndex
CREATE INDEX "SummaryOrderEvent_createdAt_idx" ON "SummaryOrderEvent"("createdAt");

-- CreateIndex
CREATE INDEX "ExpeditionJournal_expeditorId_idx" ON "ExpeditionJournal"("expeditorId");

-- CreateIndex
CREATE INDEX "ExpeditionJournal_dateFrom_dateTo_idx" ON "ExpeditionJournal"("dateFrom", "dateTo");

-- CreateIndex
CREATE INDEX "ExpeditionJournal_isHidden_idx" ON "ExpeditionJournal"("isHidden");

-- CreateIndex
CREATE INDEX "ExpeditionJournal_status_idx" ON "ExpeditionJournal"("status");

-- CreateIndex
CREATE INDEX "DistributionJournal_date_idx" ON "DistributionJournal"("date");

-- CreateIndex
CREATE INDEX "DistributionJournal_isHidden_idx" ON "DistributionJournal"("isHidden");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionStaff_userId_key" ON "ProductionStaff"("userId");

-- CreateIndex
CREATE INDEX "ProductionJournal_productionDate_idx" ON "ProductionJournal"("productionDate");

-- CreateIndex
CREATE INDEX "ProductionJournal_staffId_productionDate_idx" ON "ProductionJournal"("staffId", "productionDate");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionJournal_productionDate_staffId_key" ON "ProductionJournal"("productionDate", "staffId");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionItemValue_productionItemId_fieldKey_key" ON "ProductionItemValue"("productionItemId", "fieldKey");

-- CreateIndex
CREATE INDEX "PurchasePriceList_date_idx" ON "PurchasePriceList"("date");

-- CreateIndex
CREATE INDEX "PurchasePriceList_isActive_date_idx" ON "PurchasePriceList"("isActive", "date");

-- CreateIndex
CREATE INDEX "PurchasePriceListSupplier_supplierId_idx" ON "PurchasePriceListSupplier"("supplierId");

-- CreateIndex
CREATE INDEX "PurchasePriceListSupplier_primaryMmlId_idx" ON "PurchasePriceListSupplier"("primaryMmlId");

-- CreateIndex
CREATE UNIQUE INDEX "PurchasePriceListSupplier_priceListId_supplierId_key" ON "PurchasePriceListSupplier"("priceListId", "supplierId");

-- CreateIndex
CREATE INDEX "PurchasePriceItem_productId_idx" ON "PurchasePriceItem"("productId");

-- CreateIndex
CREATE INDEX "PurchasePriceItem_supplierId_idx" ON "PurchasePriceItem"("supplierId");

-- CreateIndex
CREATE UNIQUE INDEX "PurchasePriceItem_priceListId_supplierId_productId_key" ON "PurchasePriceItem"("priceListId", "supplierId", "productId");

-- CreateIndex
CREATE INDEX "SalesPriceList_listType_isCurrent_idx" ON "SalesPriceList"("listType", "isCurrent");

-- CreateIndex
CREATE INDEX "SalesPriceList_customerId_createdAt_idx" ON "SalesPriceList"("customerId", "createdAt");

-- CreateIndex
CREATE INDEX "SalesPriceList_effectiveDate_idx" ON "SalesPriceList"("effectiveDate");

-- CreateIndex
CREATE INDEX "SalesPriceList_isHidden_listType_idx" ON "SalesPriceList"("isHidden", "listType");

-- CreateIndex
CREATE INDEX "SalesPriceItem_productId_idx" ON "SalesPriceItem"("productId");

-- CreateIndex
CREATE INDEX "SalesPriceItem_rowDate_idx" ON "SalesPriceItem"("rowDate");

-- CreateIndex
CREATE UNIQUE INDEX "SalesPriceItem_priceListId_productId_key" ON "SalesPriceItem"("priceListId", "productId");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionMml_productId_key" ON "ProductionMml"("productId");

-- CreateIndex
CREATE INDEX "ProductionMml_isLocked_idx" ON "ProductionMml"("isLocked");

-- CreateIndex
CREATE INDEX "ProductionMml_isDeleted_idx" ON "ProductionMml"("isDeleted");

-- CreateIndex
CREATE INDEX "ProductionMml_createdAt_idx" ON "ProductionMml"("createdAt");

-- CreateIndex
CREATE INDEX "ProductionMmlNode_mmlId_idx" ON "ProductionMmlNode"("mmlId");

-- CreateIndex
CREATE INDEX "ProductionMmlNode_parentNodeId_idx" ON "ProductionMmlNode"("parentNodeId");

-- CreateIndex
CREATE INDEX "ProductionMmlNode_productId_idx" ON "ProductionMmlNode"("productId");

-- CreateIndex
CREATE INDEX "ProductionMmlNode_mmlId_parentNodeId_sortOrder_idx" ON "ProductionMmlNode"("mmlId", "parentNodeId", "sortOrder");

-- CreateIndex
CREATE INDEX "ProductionRun_productId_idx" ON "ProductionRun"("productId");

-- CreateIndex
CREATE INDEX "ProductionRun_mmlId_idx" ON "ProductionRun"("mmlId");

-- CreateIndex
CREATE INDEX "ProductionRun_userId_idx" ON "ProductionRun"("userId");

-- CreateIndex
CREATE INDEX "ProductionRun_isLocked_idx" ON "ProductionRun"("isLocked");

-- CreateIndex
CREATE INDEX "ProductionRun_createdAt_idx" ON "ProductionRun"("createdAt");

-- CreateIndex
CREATE INDEX "ProductionRun_productionDate_idx" ON "ProductionRun"("productionDate");

-- CreateIndex
CREATE INDEX "ProductionRun_isHidden_productionDate_idx" ON "ProductionRun"("isHidden", "productionDate");

-- CreateIndex
CREATE INDEX "ProductionRun_sourceType_idx" ON "ProductionRun"("sourceType");

-- CreateIndex
CREATE INDEX "ProductionRun_status_idx" ON "ProductionRun"("status");

-- CreateIndex
CREATE INDEX "ProductionRunValue_productionRunId_idx" ON "ProductionRunValue"("productionRunId");

-- CreateIndex
CREATE INDEX "ProductionRunValue_mmlNodeId_idx" ON "ProductionRunValue"("mmlNodeId");

-- CreateIndex
CREATE INDEX "ProductionRunValue_staffId_idx" ON "ProductionRunValue"("staffId");

-- CreateIndex
CREATE INDEX "ProductionRunValue_opType_idx" ON "ProductionRunValue"("opType");

-- CreateIndex
CREATE INDEX "ProductionRunValue_recordedAt_idx" ON "ProductionRunValue"("recordedAt");

-- CreateIndex
CREATE INDEX "ProductionAllocation_purchaseItemId_isVoided_idx" ON "ProductionAllocation"("purchaseItemId", "isVoided");

-- CreateIndex
CREATE INDEX "ProductionAllocation_productId_allocatedAt_isVoided_idx" ON "ProductionAllocation"("productId", "allocatedAt", "isVoided");

-- CreateIndex
CREATE INDEX "ProductionAllocation_sourceType_sourceId_idx" ON "ProductionAllocation"("sourceType", "sourceId");

-- CreateIndex
CREATE INDEX "ProductionAllocation_sourceId_idx" ON "ProductionAllocation"("sourceId");

-- CreateIndex
CREATE INDEX "ProductionAdjustment_productId_idx" ON "ProductionAdjustment"("productId");

-- CreateIndex
CREATE INDEX "ProductionAdjustment_adjustmentDate_idx" ON "ProductionAdjustment"("adjustmentDate");

-- CreateIndex
CREATE INDEX "ProductionAdjustment_effectiveDate_idx" ON "ProductionAdjustment"("effectiveDate");

-- CreateIndex
CREATE INDEX "ProductionAdjustment_status_idx" ON "ProductionAdjustment"("status");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentType_name_key" ON "PaymentType"("name");

-- CreateIndex
CREATE INDEX "Purchase_purchaseDate_idx" ON "Purchase"("purchaseDate");

-- CreateIndex
CREATE INDEX "Purchase_isDisabled_purchaseDate_idx" ON "Purchase"("isDisabled", "purchaseDate");

-- CreateIndex
CREATE INDEX "Purchase_createdByUserId_idx" ON "Purchase"("createdByUserId");

-- CreateIndex
CREATE INDEX "PurchaseSupplier_purchaseId_idx" ON "PurchaseSupplier"("purchaseId");

-- CreateIndex
CREATE INDEX "PurchaseSupplier_supplierId_idx" ON "PurchaseSupplier"("supplierId");

-- CreateIndex
CREATE UNIQUE INDEX "PurchaseSupplier_purchaseId_supplierId_key" ON "PurchaseSupplier"("purchaseId", "supplierId");

-- CreateIndex
CREATE INDEX "PurchaseItem_purchaseId_supplierId_idx" ON "PurchaseItem"("purchaseId", "supplierId");

-- CreateIndex
CREATE INDEX "PurchaseItem_purchaseId_idx" ON "PurchaseItem"("purchaseId");

-- CreateIndex
CREATE INDEX "PurchaseItem_supplierId_idx" ON "PurchaseItem"("supplierId");

-- CreateIndex
CREATE INDEX "PurchaseItem_productId_idx" ON "PurchaseItem"("productId");

-- CreateIndex
CREATE INDEX "PurchaseItem_productId_qtyRemaining_idx" ON "PurchaseItem"("productId", "qtyRemaining");

-- CreateIndex
CREATE UNIQUE INDEX "TelegramBindRequest_code_key" ON "TelegramBindRequest"("code");

-- CreateIndex
CREATE INDEX "TelegramBindRequest_customerId_createdAt_idx" ON "TelegramBindRequest"("customerId", "createdAt");

-- CreateIndex
CREATE INDEX "TelegramBindRequest_code_expiresAt_idx" ON "TelegramBindRequest"("code", "expiresAt");

-- CreateIndex
CREATE INDEX "TelegramInbox_status_createdAt_idx" ON "TelegramInbox"("status", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "TelegramInbox_chatId_messageId_key" ON "TelegramInbox"("chatId", "messageId");

-- CreateIndex
CREATE INDEX "OrderDraft_customerId_status_createdAt_idx" ON "OrderDraft"("customerId", "status", "createdAt");

-- CreateIndex
CREATE INDEX "OrderDraft_status_createdAt_idx" ON "OrderDraft"("status", "createdAt");

-- CreateIndex
CREATE INDEX "OrderDraftItem_draftId_idx" ON "OrderDraftItem"("draftId");

-- CreateIndex
CREATE INDEX "OrderDraftMessage_draftId_idx" ON "OrderDraftMessage"("draftId");

-- CreateIndex
CREATE INDEX "OrderDraftMessage_inboxId_idx" ON "OrderDraftMessage"("inboxId");

-- CreateIndex
CREATE UNIQUE INDEX "OrderDraftMessage_draftId_inboxId_key" ON "OrderDraftMessage"("draftId", "inboxId");

-- CreateIndex
CREATE INDEX "TelegramOutbox_status_nextAttemptAt_idx" ON "TelegramOutbox"("status", "nextAttemptAt");

-- CreateIndex
CREATE INDEX "TelegramOutbox_chatId_createdAt_idx" ON "TelegramOutbox"("chatId", "createdAt");

-- CreateIndex
CREATE INDEX "CustomerSalesManager_userId_unassignedAt_idx" ON "CustomerSalesManager"("userId", "unassignedAt");

-- CreateIndex
CREATE INDEX "CustomerSalesManager_customerId_unassignedAt_idx" ON "CustomerSalesManager"("customerId", "unassignedAt");

-- CreateIndex
CREATE UNIQUE INDEX "CustomerSalesManager_customerId_userId_assignedAt_key" ON "CustomerSalesManager"("customerId", "userId", "assignedAt");

-- CreateIndex
CREATE INDEX "CustomerMoneyRefund_customerId_refundDate_idx" ON "CustomerMoneyRefund"("customerId", "refundDate");

-- CreateIndex
CREATE INDEX "CustomerMoneyRefund_deletedAt_idx" ON "CustomerMoneyRefund"("deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "Warehouse_code_key" ON "Warehouse"("code");

-- CreateIndex
CREATE INDEX "Warehouse_name_idx" ON "Warehouse"("name");

-- CreateIndex
CREATE INDEX "Warehouse_isDisabled_idx" ON "Warehouse"("isDisabled");

-- CreateIndex
CREATE INDEX "SvodHeader_status_idx" ON "SvodHeader"("status");

-- CreateIndex
CREATE UNIQUE INDEX "SvodHeader_svodDate_key" ON "SvodHeader"("svodDate");

-- CreateIndex
CREATE INDEX "SvodLine_svodId_idx" ON "SvodLine"("svodId");

-- CreateIndex
CREATE INDEX "SvodLine_productId_idx" ON "SvodLine"("productId");

-- CreateIndex
CREATE INDEX "SvodLine_category_idx" ON "SvodLine"("category");

-- CreateIndex
CREATE INDEX "SvodLine_distributedFromLineId_idx" ON "SvodLine"("distributedFromLineId");

-- CreateIndex
CREATE UNIQUE INDEX "SvodLine_svodId_productId_key" ON "SvodLine"("svodId", "productId");

-- CreateIndex
CREATE INDEX "SvodSupplierCol_svodId_idx" ON "SvodSupplierCol"("svodId");

-- CreateIndex
CREATE UNIQUE INDEX "SvodSupplierCol_svodId_colIndex_key" ON "SvodSupplierCol"("svodId", "colIndex");

-- CreateIndex
CREATE UNIQUE INDEX "SvodSupplierCol_svodId_supplierId_key" ON "SvodSupplierCol"("svodId", "supplierId");

-- CreateIndex
CREATE INDEX "SvodSupplierValue_svodId_idx" ON "SvodSupplierValue"("svodId");

-- CreateIndex
CREATE INDEX "SvodSupplierValue_productId_idx" ON "SvodSupplierValue"("productId");

-- CreateIndex
CREATE INDEX "SvodSupplierValue_supplierId_idx" ON "SvodSupplierValue"("supplierId");

-- CreateIndex
CREATE UNIQUE INDEX "SvodSupplierValue_svodId_productId_supplierId_key" ON "SvodSupplierValue"("svodId", "productId", "supplierId");

-- CreateIndex
CREATE INDEX "SvodShipmentDistribution_svodLineId_idx" ON "SvodShipmentDistribution"("svodLineId");

-- CreateIndex
CREATE INDEX "SvodShipmentDistribution_mmlNodeId_idx" ON "SvodShipmentDistribution"("mmlNodeId");

-- CreateIndex
CREATE UNIQUE INDEX "SvodShipmentDistribution_svodLineId_mmlNodeId_key" ON "SvodShipmentDistribution"("svodLineId", "mmlNodeId");

-- CreateIndex
CREATE INDEX "ProductionDoc_date_idx" ON "ProductionDoc"("date");

-- CreateIndex
CREATE INDEX "ProductionDoc_status_idx" ON "ProductionDoc"("status");

-- CreateIndex
CREATE INDEX "ProductionDoc_warehouseId_idx" ON "ProductionDoc"("warehouseId");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionDoc_date_warehouseId_key" ON "ProductionDoc"("date", "warehouseId");

-- CreateIndex
CREATE INDEX "ProductionInput_productionDocId_idx" ON "ProductionInput"("productionDocId");

-- CreateIndex
CREATE INDEX "ProductionInput_purchaseItemId_idx" ON "ProductionInput"("purchaseItemId");

-- CreateIndex
CREATE INDEX "ProductionInput_productId_idx" ON "ProductionInput"("productId");

-- CreateIndex
CREATE INDEX "ProductionInput_purchaseId_idx" ON "ProductionInput"("purchaseId");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionInput_productionDocId_purchaseItemId_key" ON "ProductionInput"("productionDocId", "purchaseItemId");

-- CreateIndex
CREATE INDEX "ProductionOutput_productionDocId_idx" ON "ProductionOutput"("productionDocId");

-- CreateIndex
CREATE INDEX "ProductionOutput_productId_idx" ON "ProductionOutput"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionOutput_productionDocId_productId_key" ON "ProductionOutput"("productionDocId", "productId");

-- CreateIndex
CREATE INDEX "ProductionCuttingLine_productionDocId_idx" ON "ProductionCuttingLine"("productionDocId");

-- CreateIndex
CREATE INDEX "ProductionCuttingLine_productionInputId_idx" ON "ProductionCuttingLine"("productionInputId");

-- CreateIndex
CREATE INDEX "ProductionCuttingLine_mmlId_idx" ON "ProductionCuttingLine"("mmlId");

-- CreateIndex
CREATE INDEX "ProductionCuttingLine_outProductId_idx" ON "ProductionCuttingLine"("outProductId");

-- CreateIndex
CREATE INDEX "MaterialReport_reportDate_idx" ON "MaterialReport"("reportDate");

-- CreateIndex
CREATE INDEX "MaterialReport_status_idx" ON "MaterialReport"("status");

-- CreateIndex
CREATE INDEX "MaterialReport_warehouseId_idx" ON "MaterialReport"("warehouseId");

-- CreateIndex
CREATE UNIQUE INDEX "MaterialReport_reportDate_warehouseId_key" ON "MaterialReport"("reportDate", "warehouseId");

-- CreateIndex
CREATE INDEX "MaterialReportLine_materialReportId_idx" ON "MaterialReportLine"("materialReportId");

-- CreateIndex
CREATE INDEX "MaterialReportLine_productId_idx" ON "MaterialReportLine"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "MaterialReportLine_materialReportId_productId_key" ON "MaterialReportLine"("materialReportId", "productId");

-- CreateIndex
CREATE INDEX "MaterialReportDraft_reportDate_idx" ON "MaterialReportDraft"("reportDate");

-- CreateIndex
CREATE INDEX "MaterialReportDraft_svodHeaderId_idx" ON "MaterialReportDraft"("svodHeaderId");

-- CreateIndex
CREATE UNIQUE INDEX "MaterialReportDraft_reportDate_warehouseId_key" ON "MaterialReportDraft"("reportDate", "warehouseId");

-- CreateIndex
CREATE INDEX "MaterialReportDraftLine_draftId_idx" ON "MaterialReportDraftLine"("draftId");

-- CreateIndex
CREATE INDEX "MaterialReportDraftLine_productId_idx" ON "MaterialReportDraftLine"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "MaterialReportDraftLine_draftId_productId_key" ON "MaterialReportDraftLine"("draftId", "productId");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionLotClosure_purchaseItemId_key" ON "ProductionLotClosure"("purchaseItemId");

-- CreateIndex
CREATE INDEX "ProductionLotClosure_status_idx" ON "ProductionLotClosure"("status");

-- CreateIndex
CREATE INDEX "ProductionLotClosure_status_purchaseItemId_idx" ON "ProductionLotClosure"("status", "purchaseItemId");

-- CreateIndex
CREATE INDEX "ProductionClosure_productionDate_idx" ON "ProductionClosure"("productionDate");

-- CreateIndex
CREATE INDEX "ProductionClosure_productId_idx" ON "ProductionClosure"("productId");

-- CreateIndex
CREATE INDEX "ProductionClosure_status_idx" ON "ProductionClosure"("status");

-- CreateIndex
CREATE UNIQUE INDEX "ProductionClosure_productionDate_productId_key" ON "ProductionClosure"("productionDate", "productId");

-- CreateIndex
CREATE INDEX "ProductionClosureAudit_scope_idx" ON "ProductionClosureAudit"("scope");

-- CreateIndex
CREATE INDEX "ProductionClosureAudit_productionDate_idx" ON "ProductionClosureAudit"("productionDate");

-- CreateIndex
CREATE INDEX "ProductionClosureAudit_productId_idx" ON "ProductionClosureAudit"("productId");

-- CreateIndex
CREATE INDEX "ProductionClosureAudit_purchaseItemId_idx" ON "ProductionClosureAudit"("purchaseItemId");

-- CreateIndex
CREATE INDEX "ProductionClosureAudit_createdAt_idx" ON "ProductionClosureAudit"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Role_code_key" ON "Role"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Permission_code_key" ON "Permission"("code");

-- CreateIndex
CREATE INDEX "UserRole_userId_idx" ON "UserRole"("userId");

-- CreateIndex
CREATE INDEX "UserRole_roleId_idx" ON "UserRole"("roleId");

-- CreateIndex
CREATE UNIQUE INDEX "UserRole_userId_roleId_key" ON "UserRole"("userId", "roleId");

-- CreateIndex
CREATE INDEX "RolePermission_roleId_idx" ON "RolePermission"("roleId");

-- CreateIndex
CREATE INDEX "RolePermission_permissionId_idx" ON "RolePermission"("permissionId");

-- CreateIndex
CREATE UNIQUE INDEX "RolePermission_roleId_permissionId_key" ON "RolePermission"("roleId", "permissionId");

-- CreateIndex
CREATE INDEX "SupplierLedger_supplierId_opDate_idx" ON "SupplierLedger"("supplierId", "opDate");

-- CreateIndex
CREATE INDEX "SupplierLedger_sourceType_sourceId_idx" ON "SupplierLedger"("sourceType", "sourceId");

-- CreateIndex
CREATE UNIQUE INDEX "SupplierLedger_supplierId_sourceType_sourceId_sourceLineId_key" ON "SupplierLedger"("supplierId", "sourceType", "sourceId", "sourceLineId");

-- CreateIndex
CREATE INDEX "SupplierReturn_supplierId_returnDate_idx" ON "SupplierReturn"("supplierId", "returnDate");

-- CreateIndex
CREATE INDEX "SupplierReturnItem_returnId_idx" ON "SupplierReturnItem"("returnId");

-- CreateIndex
CREATE INDEX "SupplierPayment_supplierId_paymentDate_idx" ON "SupplierPayment"("supplierId", "paymentDate");

-- AddForeignKey
ALTER TABLE "Customer" ADD CONSTRAINT "Customer_districtId_fkey" FOREIGN KEY ("districtId") REFERENCES "District"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Customer" ADD CONSTRAINT "Customer_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "Manager"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Customer" ADD CONSTRAINT "Customer_telegramBoundByUserId_fkey" FOREIGN KEY ("telegramBoundByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerCard" ADD CONSTRAINT "CustomerCard_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerCardItem" ADD CONSTRAINT "CustomerCardItem_cardId_fkey" FOREIGN KEY ("cardId") REFERENCES "CustomerCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerCardItem" ADD CONSTRAINT "CustomerCardItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerCardItemPhoto" ADD CONSTRAINT "CustomerCardItemPhoto_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "CustomerCardItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerProduct" ADD CONSTRAINT "CustomerProduct_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerProduct" ADD CONSTRAINT "CustomerProduct_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplier" ADD CONSTRAINT "Supplier_primaryMmlId_fkey" FOREIGN KEY ("primaryMmlId") REFERENCES "ProductionMml"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierProduct" ADD CONSTRAINT "SupplierProduct_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierProduct" ADD CONSTRAINT "SupplierProduct_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_expeditorId_fkey" FOREIGN KEY ("expeditorId") REFERENCES "Expeditor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES "OrderDraft"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderAttachment" ADD CONSTRAINT "OrderAttachment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderReturn" ADD CONSTRAINT "OrderReturn_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderReturn" ADD CONSTRAINT "OrderReturn_expeditionId_fkey" FOREIGN KEY ("expeditionId") REFERENCES "ExpeditionJournal"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderReturnItem" ADD CONSTRAINT "OrderReturnItem_returnId_fkey" FOREIGN KEY ("returnId") REFERENCES "OrderReturn"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderReturnItem" ADD CONSTRAINT "OrderReturnItem_orderItemId_fkey" FOREIGN KEY ("orderItemId") REFERENCES "OrderItem"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderReturnItem" ADD CONSTRAINT "OrderReturnItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReturnAuditLog" ADD CONSTRAINT "ReturnAuditLog_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expeditor" ADD CONSTRAINT "Expeditor_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Stock" ADD CONSTRAINT "Stock_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StockTransaction" ADD CONSTRAINT "StockTransaction_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StockTransaction" ADD CONSTRAINT "StockTransaction_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SummaryOrderJournal" ADD CONSTRAINT "SummaryOrderJournal_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SummaryOrderJournal" ADD CONSTRAINT "SummaryOrderJournal_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SummaryOrderJournal" ADD CONSTRAINT "SummaryOrderJournal_orderItemId_fkey" FOREIGN KEY ("orderItemId") REFERENCES "OrderItem"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SummaryOrderEvent" ADD CONSTRAINT "SummaryOrderEvent_summaryOrderId_fkey" FOREIGN KEY ("summaryOrderId") REFERENCES "SummaryOrderJournal"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionStaff" ADD CONSTRAINT "ProductionStaff_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionJournal" ADD CONSTRAINT "ProductionJournal_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "ProductionStaff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionItem" ADD CONSTRAINT "ProductionItem_journalId_fkey" FOREIGN KEY ("journalId") REFERENCES "ProductionJournal"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionItem" ADD CONSTRAINT "ProductionItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionItemValue" ADD CONSTRAINT "ProductionItemValue_productionItemId_fkey" FOREIGN KEY ("productionItemId") REFERENCES "ProductionItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchasePriceListSupplier" ADD CONSTRAINT "PurchasePriceListSupplier_priceListId_fkey" FOREIGN KEY ("priceListId") REFERENCES "PurchasePriceList"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchasePriceListSupplier" ADD CONSTRAINT "PurchasePriceListSupplier_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchasePriceListSupplier" ADD CONSTRAINT "PurchasePriceListSupplier_primaryMmlId_fkey" FOREIGN KEY ("primaryMmlId") REFERENCES "ProductionMml"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchasePriceItem" ADD CONSTRAINT "PurchasePriceItem_priceListId_fkey" FOREIGN KEY ("priceListId") REFERENCES "PurchasePriceList"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchasePriceItem" ADD CONSTRAINT "PurchasePriceItem_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchasePriceItem" ADD CONSTRAINT "PurchasePriceItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalesPriceList" ADD CONSTRAINT "SalesPriceList_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalesPriceItem" ADD CONSTRAINT "SalesPriceItem_priceListId_fkey" FOREIGN KEY ("priceListId") REFERENCES "SalesPriceList"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalesPriceItem" ADD CONSTRAINT "SalesPriceItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionMml" ADD CONSTRAINT "ProductionMml_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionMml" ADD CONSTRAINT "ProductionMml_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionMmlNode" ADD CONSTRAINT "ProductionMmlNode_mmlId_fkey" FOREIGN KEY ("mmlId") REFERENCES "ProductionMml"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionMmlNode" ADD CONSTRAINT "ProductionMmlNode_parentNodeId_fkey" FOREIGN KEY ("parentNodeId") REFERENCES "ProductionMmlNode"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionMmlNode" ADD CONSTRAINT "ProductionMmlNode_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionRun" ADD CONSTRAINT "ProductionRun_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionRun" ADD CONSTRAINT "ProductionRun_mmlId_fkey" FOREIGN KEY ("mmlId") REFERENCES "ProductionMml"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionRun" ADD CONSTRAINT "ProductionRun_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionRun" ADD CONSTRAINT "ProductionRun_sourcePurchaseItemId_fkey" FOREIGN KEY ("sourcePurchaseItemId") REFERENCES "PurchaseItem"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionRunValue" ADD CONSTRAINT "ProductionRunValue_productionRunId_fkey" FOREIGN KEY ("productionRunId") REFERENCES "ProductionRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionRunValue" ADD CONSTRAINT "ProductionRunValue_mmlNodeId_fkey" FOREIGN KEY ("mmlNodeId") REFERENCES "ProductionMmlNode"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionRunValue" ADD CONSTRAINT "ProductionRunValue_snapshotProductId_fkey" FOREIGN KEY ("snapshotProductId") REFERENCES "Product"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionRunValue" ADD CONSTRAINT "ProductionRunValue_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "ProductionStaff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionAllocation" ADD CONSTRAINT "ProductionAllocation_purchaseItemId_fkey" FOREIGN KEY ("purchaseItemId") REFERENCES "PurchaseItem"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionAllocation" ADD CONSTRAINT "ProductionAllocation_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "ProductionRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionAdjustment" ADD CONSTRAINT "ProductionAdjustment_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionAdjustment" ADD CONSTRAINT "ProductionAdjustment_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionAdjustment" ADD CONSTRAINT "ProductionAdjustment_voidedBy_fkey" FOREIGN KEY ("voidedBy") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Purchase" ADD CONSTRAINT "Purchase_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseSupplier" ADD CONSTRAINT "PurchaseSupplier_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES "Purchase"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseSupplier" ADD CONSTRAINT "PurchaseSupplier_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseItem" ADD CONSTRAINT "PurchaseItem_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES "Purchase"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseItem" ADD CONSTRAINT "PurchaseItem_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseItem" ADD CONSTRAINT "PurchaseItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseItem" ADD CONSTRAINT "PurchaseItem_paymentTypeId_fkey" FOREIGN KEY ("paymentTypeId") REFERENCES "PaymentType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TelegramBindRequest" ADD CONSTRAINT "TelegramBindRequest_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TelegramBindRequest" ADD CONSTRAINT "TelegramBindRequest_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderDraft" ADD CONSTRAINT "OrderDraft_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderDraft" ADD CONSTRAINT "OrderDraft_rejectedByUserId_fkey" FOREIGN KEY ("rejectedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderDraft" ADD CONSTRAINT "OrderDraft_acceptedByUserId_fkey" FOREIGN KEY ("acceptedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderDraftItem" ADD CONSTRAINT "OrderDraftItem_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES "OrderDraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderDraftMessage" ADD CONSTRAINT "OrderDraftMessage_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES "OrderDraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderDraftMessage" ADD CONSTRAINT "OrderDraftMessage_inboxId_fkey" FOREIGN KEY ("inboxId") REFERENCES "TelegramInbox"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TelegramOutbox" ADD CONSTRAINT "TelegramOutbox_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerSalesManager" ADD CONSTRAINT "CustomerSalesManager_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerSalesManager" ADD CONSTRAINT "CustomerSalesManager_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerSalesManager" ADD CONSTRAINT "CustomerSalesManager_assignedByUserId_fkey" FOREIGN KEY ("assignedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerSalesManager" ADD CONSTRAINT "CustomerSalesManager_unassignedByUserId_fkey" FOREIGN KEY ("unassignedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerMoneyRefund" ADD CONSTRAINT "CustomerMoneyRefund_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "Customer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerMoneyRefund" ADD CONSTRAINT "CustomerMoneyRefund_paymentTypeId_fkey" FOREIGN KEY ("paymentTypeId") REFERENCES "PaymentType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerMoneyRefund" ADD CONSTRAINT "CustomerMoneyRefund_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerMoneyRefund" ADD CONSTRAINT "CustomerMoneyRefund_updatedByUserId_fkey" FOREIGN KEY ("updatedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerMoneyRefund" ADD CONSTRAINT "CustomerMoneyRefund_deletedByUserId_fkey" FOREIGN KEY ("deletedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Warehouse" ADD CONSTRAINT "Warehouse_responsibleUserId_fkey" FOREIGN KEY ("responsibleUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodLine" ADD CONSTRAINT "SvodLine_svodId_fkey" FOREIGN KEY ("svodId") REFERENCES "SvodHeader"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodLine" ADD CONSTRAINT "SvodLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodSupplierCol" ADD CONSTRAINT "SvodSupplierCol_svodId_fkey" FOREIGN KEY ("svodId") REFERENCES "SvodHeader"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodSupplierCol" ADD CONSTRAINT "SvodSupplierCol_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodSupplierValue" ADD CONSTRAINT "SvodSupplierValue_svodId_fkey" FOREIGN KEY ("svodId") REFERENCES "SvodHeader"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodSupplierValue" ADD CONSTRAINT "SvodSupplierValue_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodSupplierValue" ADD CONSTRAINT "SvodSupplierValue_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodShipmentDistribution" ADD CONSTRAINT "SvodShipmentDistribution_svodLineId_fkey" FOREIGN KEY ("svodLineId") REFERENCES "SvodLine"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SvodShipmentDistribution" ADD CONSTRAINT "SvodShipmentDistribution_mmlNodeId_fkey" FOREIGN KEY ("mmlNodeId") REFERENCES "ProductionMmlNode"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionDoc" ADD CONSTRAINT "ProductionDoc_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES "Warehouse"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionDoc" ADD CONSTRAINT "ProductionDoc_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionInput" ADD CONSTRAINT "ProductionInput_productionDocId_fkey" FOREIGN KEY ("productionDocId") REFERENCES "ProductionDoc"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionInput" ADD CONSTRAINT "ProductionInput_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES "Purchase"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionInput" ADD CONSTRAINT "ProductionInput_purchaseItemId_fkey" FOREIGN KEY ("purchaseItemId") REFERENCES "PurchaseItem"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionInput" ADD CONSTRAINT "ProductionInput_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionInput" ADD CONSTRAINT "ProductionInput_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES "Warehouse"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionInput" ADD CONSTRAINT "ProductionInput_loadedByUserId_fkey" FOREIGN KEY ("loadedByUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionOutput" ADD CONSTRAINT "ProductionOutput_productionDocId_fkey" FOREIGN KEY ("productionDocId") REFERENCES "ProductionDoc"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionOutput" ADD CONSTRAINT "ProductionOutput_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionCuttingLine" ADD CONSTRAINT "ProductionCuttingLine_productionDocId_fkey" FOREIGN KEY ("productionDocId") REFERENCES "ProductionDoc"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionCuttingLine" ADD CONSTRAINT "ProductionCuttingLine_productionInputId_fkey" FOREIGN KEY ("productionInputId") REFERENCES "ProductionInput"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionCuttingLine" ADD CONSTRAINT "ProductionCuttingLine_mmlId_fkey" FOREIGN KEY ("mmlId") REFERENCES "ProductionMml"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionCuttingLine" ADD CONSTRAINT "ProductionCuttingLine_outProductId_fkey" FOREIGN KEY ("outProductId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionCuttingLine" ADD CONSTRAINT "ProductionCuttingLine_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReport" ADD CONSTRAINT "MaterialReport_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES "Warehouse"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReportLine" ADD CONSTRAINT "MaterialReportLine_materialReportId_fkey" FOREIGN KEY ("materialReportId") REFERENCES "MaterialReport"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReportLine" ADD CONSTRAINT "MaterialReportLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReportDraft" ADD CONSTRAINT "MaterialReportDraft_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES "Warehouse"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReportDraft" ADD CONSTRAINT "MaterialReportDraft_svodHeaderId_fkey" FOREIGN KEY ("svodHeaderId") REFERENCES "SvodHeader"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReportDraftLine" ADD CONSTRAINT "MaterialReportDraftLine_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES "MaterialReportDraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReportDraftLine" ADD CONSTRAINT "MaterialReportDraftLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionLotClosure" ADD CONSTRAINT "ProductionLotClosure_purchaseItemId_fkey" FOREIGN KEY ("purchaseItemId") REFERENCES "PurchaseItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionClosure" ADD CONSTRAINT "ProductionClosure_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRole" ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRole" ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES "Permission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierLedger" ADD CONSTRAINT "SupplierLedger_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierReturn" ADD CONSTRAINT "SupplierReturn_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierReturn" ADD CONSTRAINT "SupplierReturn_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierReturnItem" ADD CONSTRAINT "SupplierReturnItem_returnId_fkey" FOREIGN KEY ("returnId") REFERENCES "SupplierReturn"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierReturnItem" ADD CONSTRAINT "SupplierReturnItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierPayment" ADD CONSTRAINT "SupplierPayment_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierPayment" ADD CONSTRAINT "SupplierPayment_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierPayment" ADD CONSTRAINT "SupplierPayment_deletedByUserId_fkey" FOREIGN KEY ("deletedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

